<!-- templates/profiles/shared/duty/_list.html -->

{% extends "base_account.html" %}
{% load static %}

{% block title %}
    Наряды {{ related_type|title }} {{ object_name }}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/department.css' %}">
{% endblock %}

{% block account_content %}
<div class="department-staff-container">
    <div class="header-with-button">
        <h1>
            Наряды 
            {% if related_type == 'department' %}
                кафедры {{ object_name }}
            {% elif related_type == 'faculty' %}
                факультета {{ object_name }}
            {% else %}
                {{ related_type_label }}
            {% endif %}
        </h1>
        <a href="{{ add_url }}" class="add-button">
            <i class="fas fa-plus"></i> Добавить наряд
        </a>
    </div>


    {% if duties %}
    <div class="table-responsive">
        <table class="staff-table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Вес</th>
                </tr>
            </thead>
            <tbody>
                {% for duty in duties %}
                <tr onclick="window.location='{{ duty.get_edit_url }}';" style="cursor: pointer;">
                    <td>{{ duty.duty_name }}</td>
                    <td>{{ duty.duty_weight }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="empty-message">
        <p>Нет данных о нарядах</p>
        <a href="{{ add_url }}" class="add-button">
            <i class="fas fa-plus"></i> Добавить первый наряд
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}