<header class="bg-primary text-white p-3 mb-4">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="h4 mb-0">Распределятор</h1>
        
        <nav>
          <ul class="nav align-items-center">
              <li class="nav-item">
                <a href="#" class="btn btn-sm btn-outline-light">
                  Личный кабинет
                </a>
              </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>