<header class="header">
    <div class="header-container">
        <a href="/" class="logo">Распределятор</a>
        
        <div class="header-actions">
            {% if user.is_authenticated %}
            <a href="{% url 'authentication:profile_redirect' %}" class="header-btn header-btn--secondary">Личный кабинет</a>
            {% else %}
                <a href="{% url 'authentication:login' %}" class="header-btn header-btn--primary">Войти</a>
            {% endif %}
        </div>
    </div>
</header>