<!-- components/table.html -->

<div class="table-responsive">
    <table class="data-table {{ class }}">
        {% if caption %}
        <caption>{{ caption }}</caption>
        {% endif %}

        <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header.label }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            <!-- components/table.html -->
            {% for item in items %}
            <tr class="clickable-row" data-url="{{ item.url }}">
                {% for field in item.fields %}
                <td {% if field.class %}class="{{ field.class }}"{% endif %}>
                    {% if field.value is not None and field.value != '-' %}
                        {{ field.value|safe }}
                    {% else %}
                        <span>—</span> {# или просто "-" без стиля #}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>