{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/department.css' %}">
<link rel="stylesheet" href="{% static 'css/notifications.css' %}">
<link rel="stylesheet" href="{% static 'css/missing.css' %}">

{% block content %}
<div class="account-layout">
    {% include "includes/sidebar.html" %}
    
    <div class="account-content">
        {% block account_content %}
        <!-- Контент будет здесь -->
        {% endblock %}
    </div>
</div>
{% endblock %}