<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Распределятор{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="{% static 'css/utilities.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body class="{% if request.path == '/' %}home-page{% endif %}">
    <div class="layout">
        {% include "includes/header.html" %}
        
        <main class="main">
            {% block content %}
            <!-- Контент будет здесь -->
            {% endblock %}
        </main>
        
        {% include "includes/footer.html" %}
    </div>
    <script src="{% static 'js/table.js' %}"></script>
</body>
</html>