{% extends "pages/generic_form.html" %}
{% block title %}Подтвердите удаление{% endblock %}
{% block icon %}trash{% endblock %}

{% block form_body %}
    <p>Вы действительно хотите удалить запись:</p>
    <strong>{{ object.person.full_name }} – {{ object.get_reason_display }}</strong>
{% endblock %}

{% block form_actions %}
    <button type="submit" class="btn btn-danger">
        <i class="fas fa-trash"></i> Удалить
    </button>
    <a href="{% url 'department:missing:department_list' %}" class="btn btn-secondary">
        <i class="fas fa-times"></i> Отмена
    </a>
{% endblock %}