{% extends "base_account.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/department.css' %}">
{% endblock %}

{% block account_content %}
<div class="missing-container">
    <div class="header-with-button">
        <h1>Пропущенные сотрудники</h1>
        <a href="{% url 'department:missing:department_add' %}" class="add-button">
            <i class="fas fa-calendar-plus"></i> Добавить запись
        </a>
    </div>

    {% if object_list %}
        {% include "components/table.html" with headers=headers items=table_items class="staff-table" %}
    {% else %}
    <div class="empty-message">
        <p>Нет записей о пропусках</p>
        <a href="{% url 'department:missing:department_add' %}" class="add-button">
            <i class="fas fa-calendar-plus"></i> Добавить первую запись
        </a>
    </div>
    {% endif %}
{% endblock %}